<template>
  <v-app id="inspire">
    <admin-layout-navigation />
    <admin-layout-header />
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          Hello World!
        </v-row>
      </v-container>
    </v-content>

    <admin-layout-footer />
  </v-app>
</template>

<script>
import AdminLayoutHeader from './AdminLayoutHeader';
import AdminLayoutNavigation from './AdminLayoutNavigation';
import AdminLayoutFooter from './AdminLayoutFooter';

export default {
  name: 'admin-layout',
  components:{
    AdminLayoutFooter,
    AdminLayoutNavigation,
    AdminLayoutHeader
  },
  props: {
      source: String,
    },
    data: () => ({
      dialog: false,
      drawer: true
    }),
}
</script>