<template>
  <v-card>
    <v-footer
      :inset="true"
      app
    >
        <v-row justify="center">
            <v-col
                class="blue darken-3 py-4 text-center white--text"
                cols="12"
            >
                <strong>Vacancies.com</strong>
                <br />
                <i>All rights reserved - {{ new Date().getFullYear() }}</i>
            </v-col>
        </v-row>
    </v-footer>
  </v-card>
</template>

<script>
export default {
    name: 'admin-layout-footer'
}
</script>