<template>
  <div id="app">
    <admin-layout />
  </div>
</template>

<script>
import AdminLayout from './layouts/Admin/AdminLayout';

export default {
  name: 'app',
  components:{
    AdminLayout
  }
}
</script>